<table border=1>
<tr><td colspan=2>Meme Name</td><td># Bets</td><td># Trend Up</td><td># Trend Down</td><td>Net Trend</td><td>Avg Bet</td></tr>
{{#each memeData}}
	<tr><td>{{id}}</td><td>{{name}}</td><td>{{numBets}}</td><td>{{trendUP}}</td><td>{{trendDOWN}}</td><td>{{trendNET}}</td><td>{{betAVG}}</td></tr>
{{/each}}
</table>


